{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {},
    ],
    "func-names": ["error", "never"],
    "no-console": 0,
    "strict": 0,
    "quotes": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": ["error", { "code": 80, "tabWidth": 2, "ignoreComments": true }],
    "prefer-rest-params": 0,
    "prefer-numeric-literals": 0,
    "no-param-reassign": 0
  },
  "globals": {
    "Request": false,
    "Response": false,
    "req": false,
    "res": false,
    "assert": false
  }
}