<div class="rcorners">
  <app-selectedlunch [restaurant]="todaysRestaurant"></app-selectedlunch>
  <p>
    Available restaurants:
  </p>
  <table>
    <tr *ngFor="let restaurant of restaurants"><td><a href="https://{{restaurant.url}}">{{restaurant.name}}</a></td><td><button (click)="onSelect(restaurant)" class="blueButton">Edit</button></td></tr>
    <tr><td><button (click)="saveNew()" class="greenButton">Add New</button></td></tr>
  </table>
  <app-lunchdetails [restaurant]="selectedRestaurant" (notifyParent)="setRestaurants($event)"></app-lunchdetails>
</div>
